/* UNIVERSAL STYLING */

body {
    background: #000;
    text-align: center;
    font-family: Verdana;
}

/* HEADINGS AND TEXT */

h1, h2 {
    color: #FFF;
    text-align: center;
}

h1 {
    font-weight: normal;
    font-size: 50px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

p {
    color: #808080;
    font-size: 20px;
}

footer p {
    text-align: right;
}

a {
    color: #7FFFD4;
    font-size: 16px;
    text-decoration: underline;
}

/* Images and video */

video, #coming-soon img {
    padding: 20px;
}